body {
    padding: 0;
    margin: 0;
    background-color: #414B5A;
}

* {}

p {
    font-family: Open sans;
}

h2 {
    font-family: Open sans;
}

h1 {
    font-family: Open sans;
}

#more {
    display: none;
}



/************************************Header*********************************/
.block {
    transform: scale(1, 1);

}

.opacity {
    opacity: 1;
    transition: opacity 200ms ease-in-out 250ms;
}

#burgermenu {
    height: 1.5rem;
    width: auto;
    position: absolute;
    left: 1rem;
    top: 1.7rem;
    z-index: 2;
}

#logo {
    height: 1.5rem;
    width: 15rem;
    padding: 0;
    padding-top: 0;
    display: none;
}

#logomobil {
    justify-content: center;
    height: 5rem;
    padding: 0;
    padding-top: 0;
    margin-top: 0.2rem;
    width: auto;


}

ul {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #28292C;
    padding-bottom: 2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-family: open sans;

}

li {
    padding-top: 2rem;
    text-align: center;
}

nav {
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

#mobilheader {

    width: 100%;
    height: 5.5rem;
    background-color: #28292C;
    text-align: center;


}


@media screen and (min-width: 1000px) {

    #mobilheader {
        display: none;
    }

    #logo {
        display: block;
        height: 0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }

    nav {
        all: unset;
    }

    ul {
        all: unset;
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #28292C;
        width: 100%;
        height: 5rem;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
        font-family: open sans;
        color: #ebebeb;
    }

    li {
        padding-top: 2rem;
        text-align: center;
    }


    #logo {
        height: 3rem;
        width: auto;
        padding-top: 0;
    }

    #burgermenu {
        display: none;
    }
}

/*************************************Header********************************/
/*************************************splash********************************/

@media screen and (max-width: 1200px) {
    #splash {
        display: none;
    }

    #mobile_splash video {
        width: 100%;
        height: auto;
    }

}


@media screen and (min-width: 1200px) {
    #splash {
        background-color: rgba(0, 0, 0, 0.14);
        height: 44rem;
    }

    #splash video {

        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -100;

    }



    #mobile_splash {
        display: none;
    }

}



/*************************************splash********************************/
/*************************************Statistik*****************************/
#klik {
    text-align: center;
    padding-bottom: 1rem;
}

figure {
    padding-top: 20px;
    margin-top: 0;
}

.buttons {
    align-content: center;
    text-align: center;
}

#statistik {
    width: 100%;

    height: auto;

    background-color: white;
}



circle {
    fill: #414B5A;
    stroke: white;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .3s ease;
}

svg {
    margin: 0 auto;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: #414B5A;
    border-radius: 50%;
    display: block;
}

.buttons {
    margin-bottom: 30px;
}

button {
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    padding: 5px 10px;
    outline: none;
    border-radius: 2px;
    transition: background-color .1s ease, color .2s ease;
    color: #414B5A;
}

button:last-of-type {
    margin-right: 0;

}

button.active {
    font-weight: 400;
    background-color: #414B5A;
    color: white;
}

figcaption {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #414B5A;
    <<<<<<< HEAD padding-top: 0;
    =======padding-top: 3rem;
    font-family: Open Sans;
    > > > > > > > origin/master
}


/***********************************Statistik*****************************/
/*************************************video*****************************/
#videobox {
    text-align: center;
    margin-top: 10vh;
    color: #f7f7f7;
}

#video {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: #414B5A;

    height: auto;
}

#video iframe {
    width: 80vw;
    height: 45vw;
    ;

}

#video p {
    text-align: left;
    padding: 2rem;
}

@media screen and (min-width: 700px) {
    #video p {
        width: 50vw;
        margin: auto;
        padding: 50px 0;
        text-align: left;
    }
}

/*test*/
/*************************************video*****************************/
/************************************5goderåd*****************************/
#goderaad1 {

    width: 100%;
    background-color: white;
}

#goderaad {
    padding-top: 2rem;
    padding-bottom: 2rem;

    width: 100%;
    height: auto;
}

/************************************5goderåd*****************************/
/*************************************gammelmand**************************/
#gammelmand {
    width: 100%;
    background-color: #28292C;
    color: white;
    margin: 0;
    padding: 0;
}

.column22 img {
    width: 100vw;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.column11 {
    padding-top: 0;
    padding: 0.5rem;

    color: white;
}

.column22 {
    padding: 1px;
}

@media screen and (min-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .column22 img {
        align-content: center;
        padding-top: 6rem;
        padding-bottom: 1rem;

    }

    .column22 img {
        width: 50vw;
    }

}

@media screen and (min-width: 1200px) {
    .column11 h2 {
        padding-top: 1.3rem;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .column11 {
        padding-left: 4rem;
        padding-right: 5rem;
    }

    .column22 img {
        padding-left: 4rem;
        padding-top: 3rem;
        width: 40rem;
        height: 26rem;
        padding-bottom: 2rem;

    }
}

/*************************************gammelmand**************************/
/*************************************gammeldame**************************/
buttonen {
    cursor: pointer;
}

#gammeldame {
    width: 100%;
    background-color: #414B5A;
}

h2 {
    margin-top: 1rem;
}

.column1 {
    padding-top: 0;
    padding: 0.5rem;

    color: white;
}

.column2 {
    padding: 1px;
}

.column2 img {
    width: 100vw;
}



@media screen and (min-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .column2 img {
        align-content: center;
        padding-top: 6rem;
        padding-bottom: 1rem;

    }

    .column2 img {
        width: 50vw;
    }

}

@media screen and (min-width: 1200px) {
    .column1 h2 {
        padding-top: 1.3rem;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .column1 {
        padding-left: 4rem;
        padding-right: 5rem;
    }


    .column2 {}

    .column2 img {
        padding-top: 3rem;
        width: 40rem;
        height: 26rem;

    }

    .column2 img {
        align-content: center;
        padding-top: 3rem;
        padding-bottom: 2rem;

    }
}

/*************************************gammeldame**************************/
/*************************************valgafcykel*************************/
#valgafcykel {
    width: 100%;
    min-height: 20rem;
    background-color: #28292C;
    padding: 0;
    margin: 0;
}

#valgafcykel h1 {
    color: white;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

#billede {
    align-content: center;
    text-align: center;
    width: 100vw;
    height: auto;
}

.filter:hover {
    background-color: white;
    color: #414B5A
}

.filter {
    color: white;
    height: 5rem;
    width: auto;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.valgt {
    background-color: white;
    color: #414B5A
}

.menu {
    align-content: center;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .menu {}

    #billede {
        width: 60rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

/*************************************valgafcykel*************************/
