body {
    padding: 0;
    margin: 0;
    background-color: #414B5A;
}

* {}



/************************************Header*********************************/
.block {
    transform: scale(1, 1);

}

.opacity {
    opacity: 1;
    transition: opacity 200ms ease-in-out 250ms;
}

#burgermenu {
    height: 1.5rem;
    width: auto;
    position: absolute;
    left: 1rem;
    top: 1.7rem;
    z-index: 2;
}

#logo {
    height: 1.5rem;
    width: 15rem;
    padding: 0;
    padding-top: 0;
    display: none;
}

#logomobil {
    justify-content: center;
    height: 5rem;
    padding: 0;
    padding-top: 0;
    margin-top: 0.2rem;
    width: auto;


}

ul {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #28292C;
    padding-bottom: 2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

li {
    padding-top: 2rem;
    text-align: center;
}

nav {
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

#mobilheader {

    width: 100%;
    height: 5.5rem;
    background-color: #28292C;
    text-align: center;


}


@media screen and (min-width: 700px) {
    #logo {
        display: block;
        height: 0.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }

    nav {
        all: unset;
    }

    ul {
        all: unset;
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #28292C;
        width: 100%;
        height: 6rem;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;

    }

    li {
        padding-top: 2rem;
        text-align: center;
    }


    #logo {
        height: 5rem;
        padding-top: 0;
    }

    #burgermenu {
        display: none;
    }
}

/*************************************Header********************************/
/*************************************splash********************************/
#splash {
    background-color: green;
    height: 41rem;
    width: 100%;

}

/*************************************splash********************************/
/*************************************Statistik*****************************/
#statistik {
    width: 100%;
    height: 20rem;
    background-color: white;
}

/*************************************Statistik*****************************/
/*************************************video*****************************/
#video {
    width: 100%;
    height: 40rem;
    background-color: #414B5A;
}

/*************************************video*****************************/
/*************************************5goderåd*****************************/
#goderaad {
    width: 100%;
    height: 40rem;
    background-color: #28292C;
}

/*************************************5goderåd*****************************/
/*************************************gammelmand****************************/
#gammelmand {
    width: 100%;
    height: 40rem;
    background-color: #5A80D0;
}

/*************************************gammelmand****************************/
/*************************************gammeldame****************************/
#gammeldame {
    width: 100%;
    background-color: #414B5A;
}

h2 {
    margin-top: 1rem;
}

.column1 {
    padding-top: 0;
    padding: 0.5rem;

    color: white;
}

.column2 {
    padding: 1px;
}

.column2 img {
    width: 30rem;
}




@media screen and (min-width: 600px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .column1 {
        width: 100%;
        height: 650px;
    }

    .column2 {
        width: 100%;
        height: 300px;
    }

    img {
        width: 395px;
    }
}

/*************************************gammeldame****************************/
/*************************************valgafcykel***************************/
#valgafcykel {
    width: 100%;
    height: 50rem;
    background-color: #28292C;
}

/*************************************valgafcykel***************************/
